.common-questions{
  li{
    p{
      margin: 5px 0;
      padding: 5px 10px;
      color: #333;
      background-color: #f5fafe;
      border: 1px solid #dee4e9;
      border-radius: 4px;
    }
  }
}