.loading{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.4);
  position: fixed;
  left: 0;
  top:0;
  z-index: 100;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img{
    width: 100px;
    height: 100px;
    position: absolute;
    left: calc(50% - 50px);
    top:calc(50vh - 50px);
    animation: reta 2s infinite linear;
  }
  span{
    font-size: 16px;
    color: #ffffff;
    margin-top: 120px;
  }
}
@keyframes reta {
  to{
    transform: rotate(360deg);
  }
}
