@import "../../index";
.video-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .down-btn{
    display: inline-block;
    width: 320px;
    padding:10px 0;
    font-size: 16px;
    border-radius: 6px;
    color: #fff;
    background-color: $theme;
    user-select: none;
    border: 1px solid $theme;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
  }
  video{
    margin-top: 30px;
  }
}
